:root {
  --hover-color: #ffffff9b;
  --primary-color: #765AE6;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

body {
  font-family: system-ui, sans-serif;
  background: #222;
  color: #fff;
}

/* Navbar Styles */
.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727de;
  color: white;
  padding: 1rem;
  transition: background-color 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column-reverse;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100px;
  padding-right: 40px;
}

.navbar ul li a {
  position: relative;
  padding-bottom: 7px;
  overflow: hidden;
  color: white;
  text-decoration: none;
}

.navbar ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #333;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
}

.navbar ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar ul.visible {
  display: flex;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.logo img {
  max-width: 100%;
  width: 90px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 15px;
}

/* Burger Menu Styles */
.burger-menu {
  position: relative;
  height: 18px;
  width: 20px;
  cursor: pointer;
  display: none;
  left: 20px;
}

.burger-menu span {
  position: absolute;
  height: 2px;
  background: #fff;
  left: 0;
  transition: 0.4s;
}

.burger-menu span:nth-child(1) {
  top: 0;
  width: 100%;
}

.burger-menu span:nth-child(2) {
  top: 50%;
  width: 100%;
}

.burger-menu span:nth-child(3) {
  bottom: 0;
  width: 100%;
}

.burger-menu.close span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}


.burger-menu.close span:nth-child(2) {
  opacity: 0;
}

.burger-menu.close span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* Section Styles */
.section {
  padding: 50px 0;
  text-align: center;
}

hr {
  margin-top: 50px;
  width: 80%;
  border: 1px solid #ddd;
}

/* Projects Section Styles */
#projects .content {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.project-card {
  background: #333;
  overflow: hidden;
  margin: 20px 0;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project-card a h2 {
  color: #fff;
  margin-top: 10px;
}

.project-card p {
  padding: 0 20px;
  font-weight: 500;
}

.project-info {
  padding: 15px;
}

/* Join Button Styles */
.join-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.join-button:hover {
  background-color: #5e48ea;
}

/* Home Section Styles */
#home {
  padding-top: 150px;
}

#home .content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  padding-top: 50px;
  position: relative;
}

#home .content>img {
  width: 300px;
  margin-top: -50px;
}

#home .content .skills .skills-imgs {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  margin-left: -10px;
}

#home .content .skills .skills-imgs img {
  width: 75px;
}

#home .content .skills .skills-imgs .container-js {
  position: relative;
  z-index: -1;
}

#home .content .skills .skills-imgs .container-js::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 50px;
  z-index: -2;
  right: 15px;
  top: 20px;
  background: #fff;
}

#home .content h4 {
  width: 200px;
  font-size: 20px;
}

#home>h1:first-child {
  font-size: 35px;
}

.name {
  font-size: 30px;
  color: transparent;
  -webkit-text-stroke: 2px var(--primary-color);
}

.blur {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 50px blue, 0 0 100px blue, 0 0 150px blue, 0 0 200px 10px blue,
    0 0 250px 20px blue;
  filter: blur(10px);
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  margin-top: 30px;
  z-index: -5;
}

#home .content h1 {
  animation: updown infinite 1s ease-in-out alternate;
  position: relative;
  width: fit-content;
}

/* Media Query */
@media (max-width: 700px) {
  .burger-menu {
    display: block;
  }

  .navbar ul {
    position: absolute;
    left: 0;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    bottom: 100%;
    background-color: #222;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0 0 10px 10px;
    transition: 0.4s;
    z-index: 10;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .logo {
    margin-right: -20px
  }

  .navbar:has(.burger-menu.close) ul {
    bottom: -210%;
    border-top: 1px solid #fff;
  }

  #projects .content {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 30px;
  }

  #home .content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    margin-top: 2rem;
    text-align: center;
  }

  #home .content img {
    margin: -50px auto 0;
  }

  #home .content h1 {
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .blur {
    right: 45%;
    transform: translateX(-50%);
  }

}

@keyframes updown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(5px);
  }
}